<mat-card [class.mat-elevation-z2]="true"class="card">
    <mat-toolbar color="primary">
      <p style="text-align:center; width: 100%">Create Course Instance</p>
    </mat-toolbar>
    <form [formGroup]="courseInstanceForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
      <div class="container">

        <mat-form-field>
          <input type="text" matInput placeholder="Enter course instance label" formControlName="courseInstanceLabel">
        </mat-form-field>

        
  
        <mat-form-field>
          <mat-select placeholder="Select course incharge" formControlName="courseIncharge" multiple>
            <mat-select-trigger>
              {{form.courseIncharge.value ? inchargeDisplay : ''}}
              <span *ngIf="form.courseIncharge.value?.length > 1" class="example-additional-selection">
                (+{{form.courseIncharge.value.length - 1}} {{form.courseIncharge.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let mentor of mentorsList" [value]="mentor._id">
              {{ mentor.firstName + ' ' + mentor.lastName }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <button mat-raised-button color="primary" [disabled]="!courseInstanceForm.valid">Submit</button>
  
        <h3 style="text-align:center" [style.color]="messageType=='success'? 'green': 'red'">{{ message }}</h3>
      </div>
    </form>
  </mat-card>