<div class="container mat-typography">
  <mat-card class="my-card">
    <img class="pic" src="/assets/innosential_lms_course_and_instructor_images/innosential-logo-updated.png">
    <br>
    <h2 style="text-align: center">Reset Password</h2>
    <br>
    <mat-card-content style="width:80%">
      <form [formGroup]="myForm" class="my-form">
        <mat-form-field class="full-width">

          <input matInput placeholder="Password" type="password" name="password" formControlName="password">
          <mat-error *ngIf="!myForm.controls['password'].valid && myForm.controls['password'].touched">
            <span>
              This is a required field.
            </span>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">

          <input matInput placeholder="Confirm password" type="password" name="retypepassword"
            formControlName="retypepassword">
          <mat-error *ngIf="(!myForm.controls['retypepassword'].valid && myForm.controls['retypepassword'].touched)  ">
            <span *ngIf="myForm.controls['retypepassword'].errors.required">
              This is a required field.
            </span>
            <span *ngIf="myForm.controls['retypepassword'].errors.mustMatch">
              Passwords must match.
            </span>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onSubmit()" color="primary">Submit</button>
    </mat-card-actions>
    <mat-error *ngIf="errorress!=''">
      {{errorress}}
    </mat-error>
    <div *ngIf="success" style="color:green;font-size: 15px;font-weight: bold">Password successfully changed.</div>
  </mat-card>
</div>