<div class="container mat-typography">
  <mat-card class="my-card">

    <img class="pic" src="/assets/innosential_lms_course_and_instructor_images/innosential-logo-updated.png">
    <br>
    <h2 style="text-align: center">Forgot Password?</h2>
    <br>

    <mat-card-content style="width:80%">
      <form [formGroup]="myForm" class="my-form">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" name="email" formControlName="email">
          <mat-error *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched">
            <span *ngIf="myForm.controls['email'].errors.required">
              This field is required.
            </span>
            <span *ngIf="myForm.controls['email'].errors.pattern">
              Please enter a valid email address.
            </span>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="onSubmit()" color="primary">Submit</button>
    </mat-card-actions>

    <div *ngIf="errorress" style="color:red;font-size: 15px;font-weight: bold">
      Mail ID not found.
    </div>

    <div *ngIf="success" style="color:green;font-size: 15px;font-weight: bold">
      Reset link has been sent to your email
    </div>

  </mat-card>
</div>