<!-- side bar with list of activities -->
<!-- icons next to the activities indicating progress -->
<!-- click on the activities to see the activity content -->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="this.location.back()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">{{ this.lessonName }}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" autosize>
    <mat-sidenav class="example-sidenav" #snav [opened]="mobileQuery.matches ? 'false' : 'true'"
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a [ngClass]="clickedItem === activity.activity_name ? is-active: is-inactive "  mat-list-item *ngFor="let activity of activities; let i = index" (click)="this.showContent(i)" [routerLinkActive]="['is-active']">
          <mat-icon  *ngIf="clickedItem === activity.activity_name" matListIcon>check_circle_outline </mat-icon>
          <mat-icon *ngIf="clickedItem !== activity.activity_name" matListIcon> panorama_fish_eye</mat-icon>
          {{activity.activity_name}}
          <mat-divider></mat-divider>
        </a>
        
      </mat-nav-list>
      
      <mat-nav-list>
        <button mat-button color="accent">
          <a mat-button href="https://piazza.com/" target="_blank">
            Discuss with your classmates
            <mat-icon aria-label="Discuss with your classmates">forum</mat-icon>
          </a>
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div *ngFor="let chunk of content; index as c">
        <div *ngIf="chunk.activityType == 'youtubevideo'">
          <iframe width="100%" height="482" [src]='this.getURL(chunk.videoURL) | safe' frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
        </div>
        <div *ngIf="chunk.activityType == 'video'">
          <iframe width="100%" height="482" [src]='chunk.videoURL | safe' frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
        </div>
        <div>
          <mat-card *ngIf="chunk.videoResources" class="example-card" [style.backgroundColor]="'#FFF176'">
            <mat-card-header>
              <b> Slides used in the video lecture:</b> &nbsp; <a
                [href]='chunk.videoResources'>{{ chunk.videoResources | stripfilename }}</a>
            </mat-card-header>
          </mat-card>
        </div>
        <div *ngIf="chunk.activityType == 'quiz'">
          <mat-toolbar>
            <span *ngIf="chunk.activityType == 'quiz'">Quiz</span>
          </mat-toolbar>
          <ng-container *ngFor='let q of chunk.questions, index as k'>
            <app-question [activityType] = "chunk.activityType" [activityId]="activityId" [questionId]="q.question_id" [question]=q></app-question>
          </ng-container>
        </div>
        <div *ngIf="chunk.activityType == 'assignment'">
          <mat-toolbar>
            <span *ngIf="chunk.activityType == 'assignment'">Assignment</span>
          </mat-toolbar>
          <ng-container *ngFor='let q of chunk.questions, index as k'>
            <app-assignment [activityType] = "chunk.activityType" [activityId]= "activityId" [questionId]="q.question_id" [question]=q></app-assignment>
          </ng-container>
        </div>
        <div *ngIf="chunk.activityType == 'notes'">
          <app-notes [title]="chunk.title" [text]="chunk.text"></app-notes>
        </div>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->