.flex-container{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

button{
    width: 20em;
    height: 10em;
}

span{
    font-size: 2em;
    /* font-weight: bold; */
}
.example-h2 {
    margin: 10px;
  }
  .example-margin {
    margin: 0 10px;
  }
  .container{
      display: flex;
      margin-left: 5em;
  }
  .holder{
      width: auto;
      margin-left: 1em;
      margin-top: 1em;
      height: 15em;
  }
  .holder:hover{
      zoom: 120%;
  }