<mat-expansion-panel  >
  <mat-expansion-panel-header   style="background-color: #3f51b5" >
    <mat-panel-title style="-webkit-text-fill-color: white">
      {{courseDetails.courseID.courseName}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <br>
  <button *ngIf="checkMentor" mat-raised-button (click)="openDialog()">Open</button>
  <br>
  <div class="course">
    <p class="course-description" [innerHTML]="courseDetails.courseID.courseDescription"></p>
    <img class="course-photo cimg" mat-card-image src="{{this.assertsPath}}{{courseDetails.courseID.courseID}}.jpg"
            alt="Photo of Course">
    <!-- <p class="course-photo">{{environment.globals.assets}}/{{courseDetails.courseID.courseID}}</p> -->
  </div>
    
    <mat-card-footer>
      <br>
      <mat-card-actions class="course-home-button">
        
        <mat-form-field>
          <mat-label>Course Instance</mat-label>
          <mat-select  [(ngModel)]="selectedCourseInstance" name="course instance" >
            <mat-option value="none">None</mat-option>
            <mat-option *ngFor = "let instance of courseDetails.courseInstances"  [value]="instance._id">{{instance.courseInstanceLabel}}</mat-option>
          </mat-select>
          
        </mat-form-field>
        <!-- <p> {{selectedCourseInstance}}</p> -->
        <button mat-button (click)="onClick()" color="accent" *ngIf="this.selectedCourseInstance != '' && this.selectedCourseInstance != 'none' ">{{environment.globals.course}} Home</button>
      </mat-card-actions>
    </mat-card-footer>
</mat-expansion-panel>
<br>